## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,city_id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,42.30,68,100,7.92,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,50.50,72,72,10.54,broken clouds
2,2,Umm Lajj,SA,25.0213,37.2685,91.18,55,31,7.02,scattered clouds
3,3,Kodinsk,RU,58.6881,99.1844,55.18,98,100,2.80,overcast clouds
4,4,Castro,BR,-24.7911,-50.0119,45.75,92,96,14.25,overcast clouds

In [8]:
#verify data type
city_data_df.dtypes

city_id                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your preference on the minimum temperature of your destination "))
max_temp = float(input("What is your preference on the maximum temperature of your destination "))

What is your preference on the minimum temperature of your destination 20
What is your preference on the maximum temperature of your destination 100

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
selected_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) &
                                      (city_data_df["Max Temp"]<=max_temp)]

selected_cities_df.head(10)

,city_id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,42.30,68,100,7.92,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,50.50,72,72,10.54,broken clouds
2,2,Umm Lajj,SA,25.0213,37.2685,91.18,55,31,7.02,scattered clouds
3,3,Kodinsk,RU,58.6881,99.1844,55.18,98,100,2.80,overcast clouds
4,4,Castro,BR,-24.7911,-50.0119,45.75,92,96,14.25,overcast clouds
5,5,Puerto Ayora,EC,-0.7393,-90.3518,80.56,83,92,8.01,overcast clouds
6,6,Pangnirtung,CA,66.1451,-65.7125,45.19,81,90,2.15,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,81.57,77,94,17.63,light rain
8,8,Coahuayana,MX,18.7333,-103.6833,90.88,56,86,5.03,overcast clouds
9,9,Upernavik,GL,72.7868,-56.1549,40.55,84,97,6.69,overcast clouds

In [14]:
# 4a. Determine if there are any empty rows.
selected_cities_df.isnull().sum()

city_id                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=selected_cities_df.dropna()
#clean_data.isnull().sum()
clean_df.head(10)

,city_id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,42.30,68,100,7.92,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,50.50,72,72,10.54,broken clouds
2,2,Umm Lajj,SA,25.0213,37.2685,91.18,55,31,7.02,scattered clouds
3,3,Kodinsk,RU,58.6881,99.1844,55.18,98,100,2.80,overcast clouds
4,4,Castro,BR,-24.7911,-50.0119,45.75,92,96,14.25,overcast clouds
5,5,Puerto Ayora,EC,-0.7393,-90.3518,80.56,83,92,8.01,overcast clouds
6,6,Pangnirtung,CA,66.1451,-65.7125,45.19,81,90,2.15,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,81.57,77,94,17.63,light rain
8,8,Coahuayana,MX,18.7333,-103.6833,90.88,56,86,5.03,overcast clouds
9,9,Upernavik,GL,72.7868,-56.1549,40.55,84,97,6.69,overcast clouds

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,42.30,overcast clouds,-46.6000,168.3333,
1,Saskylakh,RU,50.50,broken clouds,71.9167,114.0833,
2,Umm Lajj,SA,91.18,scattered clouds,25.0213,37.2685,
3,Kodinsk,RU,55.18,overcast clouds,58.6881,99.1844,
4,Castro,BR,45.75,overcast clouds,-24.7911,-50.0119,
5,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,
6,Pangnirtung,CA,45.19,overcast clouds,66.1451,-65.7125,
7,Butaritari,KI,81.57,light rain,3.0707,172.7902,
8,Coahuayana,MX,90.88,overcast clouds,18.7333,-103.6833,
9,Upernavik,GL,40.55,overcast clouds,72.7868,-56.1549,

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [32]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,42.30,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,Umm Lajj,SA,91.18,scattered clouds,25.0213,37.2685,Moon light Furnished Units
4,Castro,BR,45.75,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
5,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Pangnirtung,CA,45.19,overcast clouds,66.1451,-65.7125,Kilabuk Lodge
7,Butaritari,KI,81.57,light rain,3.0707,172.7902,Isles Sunset Lodge
8,Coahuayana,MX,90.88,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
9,Upernavik,GL,40.55,overcast clouds,72.7868,-56.1549,Café de Upernavik
10,Kapaa,US,78.48,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel
11,Norman Wells,CA,47.84,light rain,65.2820,-126.8329,Heritage Hotel

In [33]:
# 8a. Create the output File (CSV)
output_data_file= "Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(25.0,26.0), zoom_level=2)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))